.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use the full height of the viewport */
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer; /* Make the mouse cursor indicate clicking possible */
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}