
/* Header Styles */
.start-header {
    opacity: 1;
    transform: translateY(0);
    /* make the box shadow appear only when page is scrolled */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}

.navigation-wrap {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.3s ease-out;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    /*make it non transparent and add underline when scrolled */
    background-color: #fff;
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
    padding: 15px 0;
    /*adjust margin so it glued to top */
    margin: 0;
    
}

.nav-item {
    transition: all 200ms linear;
}

.nav-link {
    color: #212121;
    font-weight: 500;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    transition: all 200ms linear;
    position: relative;
}

.nav-link:hover, .nav-link:focus {
    color: #8167a9;
}

.nav-item:after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: #8167a9;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.nav-link:hover:after, .nav-item.active:after {
    width: 100%;
}

/* Responsive adjustments */
@media (max-width: 992px) {
    .navbar-nav {
        flex-direction: column;
    }
    .nav-link {
        padding: 0.3rem 1rem;
    }
}